@import url(//db.onlinewebfonts.com/c/11469c307f0de6481e3a04cc5d54ae93?family=Uber+Move+Text);
 :root {
	 --font-family: sans-serif;
	 font-size: 16px;
	 --color-green: #06c167;
	 --color-grey: #eee;
	 --color-greyDarker: #545454;
}
 * {
	 box-sizing: border-box;
}
 @font-face {
	 font-family: "Uber Move Text";
	 src: url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot");
	 src: url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff") format("woff"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.svg#Uber Move Text") format("svg");
}

 input {
	 border: rgb(41, 41, 41);
	 border-width: 2px;
	 border-bottom-style: solid;
	 font-size: 16px;
	 padding: 10px;
	 background: rgb(240, 240, 240);
	 color: #000;
	 letter-spacing: 1px;
	 font-family: "Uber Move Text";
	 text-align: left;
	 width: 120%;
}

.navbarcustomform {
	 margin-left: auto;
	 margin-right: 100px;
}

.tosidebar {
	text-align: center;
}

.linkto{
	text-decoration: none;
}

.linkto:visited { text-decoration: none; color:black; }
.linkto:hover { text-decoration: none; color:black; }
.linkto:focus { text-decoration: none; color:black; }
.linkto:hover, a:active { text-decoration: none; color:black }

.logout {
	font-size: 20px;
}

