nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: black;
}

li {
    display: inline-block;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
