nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: black;
}

li {
    display: inline-block;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caret {
    display: none;
}

#dropdown-basic::after{
    display: none; 
 }

.parentnav {
    text-align: center;
    width: 100%;
}

