@import url(//db.onlinewebfonts.com/c/11469c307f0de6481e3a04cc5d54ae93?family=Uber+Move+Text);
 :root {
	 --font-family: sans-serif;
	 font-size: 16px;
	 --color-green: #06c167;
	 --color-grey: #eee;
	 --color-greyDarker: #545454;
}
 * {
	 box-sizing: border-box;
}
 @font-face {
	 font-family: "Uber Move Text";
	 src: url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot");
	 src: url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff") format("woff"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.svg#Uber Move Text") format("svg");
}

.container{
    width:100%;
    padding:10px;
}

.number{
    width:5%;
    height: 57px;
}

.eliminar{
    width:10%;
    height: 5%;
    margin-left: 800px;
}

input{
	padding-left: 80px;
}


